h2{
  text-align: center;
}
.form{
  width: 50%;
}
#search{
  border: 2px solid #ffc107;
  border-radius: 30px;
  width: 45px;
  position: absolute;
  top: -5px;
  right: -60px;
}
.logLink {
    text-decoration: none !important;
    color: black !important;
    border: 2px solid #ffc107;
    border-radius: 30px;
    padding: 10px;
    background-color: #ffc107;;
   font-family: 'Gowun Batang', serif;
   margin: 10px;
   position: absolute;
  top: 10px;
  right: 20px;
  }
  .profileLink{
    text-decoration: none !important;
    color: black !important;
    border: 2px solid #ffc107;
    border-radius: 30px;
    padding: 10px;
    background-color: #ffc107;;
   font-family: 'Gowun Batang', serif;
   position: absolute;
   top: 20px;
   right: 140px;
  }
  