:root {
    --gold: rgba(142, 102, 3, 0.956);
    --dark: black;
    --grey: rgb(38, 36, 36);
}

body {
    background: linear-gradient(to right, var(--gold), var(--grey), var(--dark));
    font-family: 'Gowun Batang', serif;
}

h2 {
    font-family: 'Gowun Batang', serif;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.header {
    color: white;
}

#hello {
    font-family: 'Gowun Batang', serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

.form {
    margin: 0 auto; 
    border-radius: 20px;
    font-family: 'Gowun Batang', serif;
    transition: all 1s ease-out;
}

.btn {
    width: 250px;
    border-radius: 50px;
    margin-top: 15px;
}

.form-control {
    margin-top: 20px;
}

p {
    text-align: center;
    font-family: 'Gowun Batang', serif;
    color: white;
}

.form:hover {
    box-shadow: 0 0 40px gold 
}
